.Header {
    background-color: #2a2e36;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h1 {
        margin-left: 15px;
        color: white;
    }

    ul {
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            margin: 0;
            margin-left: 2px;
            margin-right: 2px;
            list-style: none;
            height: 64px;
            width: 64px;
            a {
                height: 64px;
                width: 64px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 15%;
                &:hover {
                    background-color: #3a404a;
                }
                img {
                    height: 50px;
                    width: 50px;
                }
            }
        }
    }
}