.wrapper {
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba($color: #000000, $alpha: 0.7);
    .close {
        background-color: rgba($color: white, $alpha: 0.7);
        height: 25px;
        width: 25px;
        border-radius: 50%;
        color: black;
        cursor: pointer;
    }
    .post {
        background-color: #2a2e36;
    }
}